# Created by https://www.gitignore.io/api/css,jekyll,git

#!! ERROR: css is undefined. Use list command to see defined gitignore types !!#

### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata


### Git ###
*.orig
